@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}
    
.btn {
    background-color: #14ACA2;
    color: #ffffff;
    padding: 12px;
}

.btn:hover{
    background-color: #129d93;
    color: #ffffff;
}

.card {
    border-radius: 8px;
    padding: 16px 16px;
    margin: 24px 0px;
    background-color: #ffffff;
    border: 0;
}

.basic-url {
    padding: 0;
}

.form-datetime {
    padding: 6px 12px;
    border-radius: 6px;
    
}

.form-check {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    gap: 24px;
    width: 500px;
    height: 80px;
    background: #ffffff;
    border: 1px solid #D5D6D8;
    border-radius: 12px;
    flex: none;
    order: 0;
    flex-grow: 0; 
}

.logo-payment{
    width: 84px;
    height: 56px;
}

.payment-ewallet{
    margin-top: 32px;
}

.payment-bank{
    margin-top: 32px;
}
