body{
    font-family: 'Poppins', sans-serif;
}
.navbar .btn{
    padding: 12px 25px;
}

.btn-primary{
    background: #14ACA2;
    border: 0px;
}

.img-slider{
    overflow-x: scroll;
    padding: 22px 0px;
}

@media(max-width: 576px){
    .img-slider img{
        width: auto;
        height: auto;
    }
}

.img-slider::-webkit-scrollbar{
    display: none;
}

.card{
    border: 0;
    transition: 0.7s all;
}

.card:hover{
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.12);
}

.card:hover .card-img-wrapper img{
    transform: scale(1.1) translateY(-20px);
}

.card-img-wrapper{
    height: 220px;
}

.card-img-wrapper img{
    transition: 0.4s all;
    transform: translateY(-20px);
}

.vendor-identity .card-text,
.article-summary.card-text{
    color: #7e7e7e;
}

.feature-icon,
.ic-rating{
    color: #333333;
}
.ic-rating i{
    color: #FFC107;
}

.row-head h2{
    margin-bottom: 40px;
}

footer{
    background: #191B1E;
    color: #fff;
}

footer .nav-item a{
    color: #fff;
}
footer .nav-item a:hover{
    color: #14ACA2;
}
.block-socmed{
    padding: 15px 0;
}
.block-socmed i{
    font-size: 1.4em;
    margin: 0 10px;
}